#confirmMagic {
    background-color: #808080;
    color: #d9d9d9;
    font-size: 12px;
    font-weight: bold;
}

#gm-boomerang-magic {
    background-color: #FAEDD2;
    display: none;
}

#magicChoice {
    background-color: #4f4f4f;
    color: #cccccc;
    font-size: 11px;
}

* {
    border-style: none;
    box-shadow: none;
    font-family: Google Sans;
    text-shadow: none;
}

.Eg, .Ahnnze, .edk5Ge.dlrqf .EFnEWc {
    background-color: rgba(0, 0, 0, 0.2);
}

.G-atb::before {
    background-color: #3d3d3d ;
    box-shadow: none;
}

.H3qADd {
    color: #dedede;
    font-size: 11px;
}

.Kk7lMc-ae3xF-tJHJj, .Q0hgme-Q7GJAc-NkyfNe-RFnRab-LYNcwc .Q0hgme-Q7GJAc-h1U9Be-xhiy4 {
    background-color: #2d2d2d;
}

.Kk7lMc-ae3xF-tJHJj-CZjX4e-AHe6Kc .Kk7lMc-ae3xF-tJHJj-OAU7Vd-Bz112c {
    filter: invert(100%);
}

.NLK4Q {
    color: #777;
}

.Q0hgme-Q7GJAc-NkyfNe-RFnRab-LYNcwc .NkyfNe-RFnRab-s2gQvd {
    background-color: #2D2D2D;
}

.Q0hgme-Q7GJAc-NkyfNe-RFnRab-LYNcwc .RmniWd-rymPhb-h1U9Be {
    filter: invert(100%);
    opacity: 0.7;
}

.Q0hgme-Q7GJAc-NkyfNe-RFnRab-LYNcwc .h1U9Be-LS81yb .RFnRab-rymPhb-LS81yb-tJHJj {
    color: rgba(183, 183, 183, 0.54);
}

.SD0lsd {
    color: #dedede;
}

.YAtp9b {
    font-size: 12px;
}

.aT5-aOt-I-JX-Jw {
    background-color: #3D3D3D;
}

.aeN .z0>.L3 {
    background-color: #3C3C3C;
    color: #dedede ;
    font-size: 15px;
    margin-left: 1.25em;
}

.ahRshd .wxPY {
    color: #5f6368;
    font-size: 12px;
}

.bkL>.no {
    background-color: #3d3d3d;
}

.cj {
    color: #dedede;
}

.dBcHLc {
    color: #cdcdcd;
}

.gB {
    background-color: rgba(32,33,36,0.122);
    width: 85% ;
}

.gb_Xd.gb_Me .gb_De .gb_Qe {
    background-color: rgba(255, 255, 255, 0.04);
}

.tyA16 {
    background-color: #3d3d3d;
}

.x7 {
    background: #ffd0d0;
}

.zE {
    background: rgba(218, 255, 207, 0.902);
}

a.l9 {
    color: #8a8a8a;
}

blockquote.gmail_quote div {
    color: #a1a1a1;
}

body {
    background-color: #3d3d3d;
}

body .ICsgXc *, body.ICsgXc *, body .ICsgXc *:focus, body.ICsgXc *:focus {
    color: #cdcdcd;
}

body.iM3vKf .WopYHf {
    background-color: #3d3d3d;
}

button.ibp-main-new-ui {
    display: none;
}

div > input {
    color: #dedede;
}

div div a {
    text-decoration: none;
}

div div font {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 24px;
}

div.Bk {
    background-color: #fcf3e0;
}

div.BltHke.nH.oy8Mbf {
    background-color: #454545;
}

div.D.E.G-atb {
    background-color: #3d3d3d;
    border-color: #3d3d3d;
    border-radius: 10px 10px 0px 0px;
    border-style: none;
    box-shadow: none;
}

div.J-KU-Jg.J-KU-Jg-Zc.aj5 {
    background-color: #3d3d3d;
    border-style: none;
}

div.J-KU.J-KU-KO.J-KU-JW {
    background-color: #3d3d3d;
}

div.Ls77Lb.aZ6 {
    background-color: #3d3d3d;
}

div.T-I.J-J5-Ji.ar7.nf.T-I-ax7.L3.gm-boomerang-button-thread {
    background-color: #4a4a4a;
    border-style: none;
    color: #8c8c8c;
    font-size: 12px;
}

div.TN.bzz.aHS-bnq {
    border-style: none;
}

div.TN.bzz.aHS-bnt {
    border-bottom-width: 0;
    border-color: #f5548f;
    border-left-width: 10px;
    border-right-width: 0;
    border-style: solid;
    border-top-width: 0;
}

div.Tm.aeJ {
    background-color: #3d3d3d;
}

div.a3s.aXjCH div {
    color: #575757;
    font-family: Consolas;
    font-size: 15px;
    line-height: 26px;
    width: 90%;
}

div.a3s.aXjCH div div {
    text-decoration: none;
    width: 95%;
}

div.aND.pp.aj3 {
    background-color: #3d3d3d;
}

div.adn.ads {
    background-color: #fffcf7;
    margin-left: 1em;
}

div.ads {
    border-radius: 10px;
    margin-top: 0.12em;
}

div.aeF {
    background-color: #454545;
    border-radius: 15px;
}

div.aeH {
    background-color: #3d3d3d;
}

div.aeO.aeR {
    background-color: #3d3d3d;
    border-style: none;
}

div.ajR {
    background-color: #f5f1e9;
}

div.akc.aZ6.ajm {
    background-color: #3d3d3d;
    border-style: none;
    font-family: Google Sans ;
}

div.amn {
    background-color: #FAEDD2;
}

div.ata-asE {
    background-color: #FF4A9B;
    border-radius: 5px;
    color: #ffffff;
}

div.ata-asE span {
    font-size: 12px;
}

div.brC-aT5-aOt-Jw.brC-aMv-auO {
    background-color: #3D3D3D;
}

div.brC-bsf-aT5-aOt {
    background-color: #3d3d3d;
}

div.brC-dA-I-Jw.brC-aMv-auO {
    background-color: #3d3d3d;
}

div.f.T-I.J-J5-Ji.nu.L3.bulkboomerang.b4g_button.gm-boomerang-button-home {
    background-color: #3d3d3d;
    border-style: none;
    color: #b3b3b3;
    font-size: 13px;
}

div.gA.gt {
    background-color: #FAEDD2;
}

div.gA.gt.acV {
    background-color: #FAEDD2;
}

div.gb_Md.gb_3d.gb_Ud.gb_rc {
    background-color: #333333;
}

div.gmail_attr {
    color: #a1a1a1;
    font-size: 11px;
}

div.gmail_attr a {
    color: #d46f17;
    text-decoration: none;
}

div.ha {
    background-color: #FAEDD2;
}

div.iA.g6 {
    color: #5e5e5e;
    font-family: Consolas;
    width: 95%;
}

div.ip.adB {
    background-color: #FCF3E0;
}

div.ip.iq {
    background-color: #FAEDD2;
}

div.l2.pfiaof {
    color: #8a8a8a;
}

div.l6 div {
    color: #8a8a8a;
}

div.ma {
    color: #8a8a8a;
}

div.md.mj div {
    color: #8a8a8a;
}

div.nH {
    background-color: #FAEDD2;
}

div.nH.V8djrc.byY {
    background-color: #faedd2;
    padding-bottom: 1.5em;
}

div.nH.bkK.nn {
    background-color: #3d3d3d;
}

div.nH.oy8Mbf.nn.aeN {
    background-color: #3d3d3d;
}

div.nM {
    background-color: #3d3d3d;
}

div.vh {
    background-color: #ff4a9b;
    border-radius: 5px;
    color: #ffffff;
    margin: 1em;
}

div.wn {
    background-color: #3d3d3d;
}

div.yJ.aji.ajj {
    background-color: #3d3d3d;
}

div.ya {
    background-color: #ff66ab;
    color: #ffffff;
    font-weight: bold;
}

h2.hP {
    border-style: none;
    color: #4d4c4d;
    font-family: Consolas;
    font-size: 16px;
    font-weight: bold;
}

img.gb_ma {
    filter: saturate(125%);
    height: 2.5em;
    opacity: 0.8;
    width: auto;
}

img.gb_ma:hover {
    transform: rotate(-5deg);
}

input.gb_bf {
    font-size: 15px;
    opacity: 0.5;
}

p.MsoNormal {
    line-height: 24px;
}

p.MsoNormal span {
    font-family: Georgia;
    font-size: 16px;
    line-height: 31px;
}

span.Ykrj7b {
    color: #7a7a7a;
}

span.adx {
    background-color: #fae6b9;
    color: #828282;
}

span.ag.a8k {
    color: #ffffff;
    font-weight: bold;
}

span.ata-asJ {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

span.bog span {
    color: #636363;
    font-weight: bold;
}

span.bqe {
    color: #ff4a9b;
}

span.g3 {
    font-size: 13px;
}

span.gD {
    color: #525252;
}

span.go {
    color: #b0b0b0;
    font-weight: bold;
}

span.v2 {
    color: #fefefe;
    font-weight: bold;
    text-decoration: none ;
}

span.vh.boomerang.b4g-magic {
    display: none;
    font-size: 11px;
}

span.x2 {
    background-color: #fa3594;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

span.y2 {
    font-size: 12px;
}

span.yP {
    color: #666666;
    font-weight: bold;
}

span.zF {
    color: #0f9439;
    font-weight: bold;
}

table.Bs.nH.iY.bAt {
    background-color: #3d3d3d;
}

table.cf.TB {
    background-color: #3d3d3d;
}

td.Bu.bAn {
    background-color: #FAEDD2;
}

td.Bu.y3 {
    background-color: #3d3d3d;
}

td.TC {
    background-color: #454545;
    border-style: none;
    color: #808080;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

td.apU>.T-KT.T-KT-Jp::before {
    border-radius: 2px;
    filter: saturate(1) brightness(85%) contrast(150%) ;
}

div.gb_Nd.gb_4d.gb_Vd.gb_sc {
    background-color: #383838;
}

